/*
*
* --- file _grid.scss
*    markup page
*
*
*/
//markup block 
header {
	@include size(auto 120px);
	@include responsive-width ($page_width);
  @include center();
	position: relative;
}
section {
	position: relative;
}
footer {
	position: relative;
  @include center();
	@include size(auto 330px);
	@include responsive-width ($page_width);
	background-color: #ffffff;
}
.container {
	@include center();
	@include size(920px auto);
}