/*
*
* --- file _setting.scss
* import all file project
*
*
*/
//size page

$page_width:1200px;

// color in site

$font-color-product: #75184b;

// bg-color in site

$bg-color-product-button: #75184b;
$bg-color-product: #f7f7f5;